{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block containerStart %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Difficulties managing treatments
      </h1>

      <form class="form" action="/path/of/next/page" method="post">

      <p class="govuk-body">For each difficulty tell us:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>what the difficulty is</li>
              <li>how often you have this difficulty – tell us about both good and bad days</li>
              <li>why you have it, or how it relates to your condition</li>
              <li>any aids or adaptations you use, or help you get from another person</li>
              <li>about any help you feel you need but do not get</li>
            </ul>

        <div class="govuk-inset-text">
          <h2 class="govuk-heading-m">
            Examples
          </h2>
        
          <p>"About four days a week, I have trouble taking my arthritis medication because my wrists hurt when I try to open the pill bottle. I put my pills in a dosette box so I do not need to open the pill bottle on days when I am unable."</p>       
        
          <p>"Every evening, I have trouble monitoring my blood glucose levels because I forget and get confused on how to do it. My partner prompts me and helps me measure my blood glucose levels in the evening."</p>
        </div>    

        <div class="govuk-form-group govuk-character-count" data-module="govuk-character-count" data-maxlength="5000">
            <h1 class="govuk-label-wrapper">
              <label class="govuk-label govuk-label--m" for="with-hint">
Tell us about the difficulties you have managing your treatments, and how you manage them              </label>
            </h1>
            <textarea class="govuk-textarea govuk-js-character-count" id="with-hint" name="withHint" rows="15" aria-describedby="with-hint-info with-hint-hint"></textarea>
            <div id="with-hint-info" class="govuk-hint govuk-character-count__message">
              You can enter up to 5,000 characters
            </div>
          </div>

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
