{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    {% from "govuk/components/back-link/macro.njk" import govukBackLink %}

  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}

    <h1 class="govuk-heading-xl">
      Consent for NHS data share
    </h1>

    <h2 class="govuk-heading-l">
      Prototype 1
    </h2>

    {% from "govuk/components/details/macro.njk" import govukDetails %}

{% call govukDetails({
  summaryText: "Prototype 1 details"
}) %}
 Prototype 1 includes the NHS data consent questions over 3 screens.
{% endcall %}

      <p class="govuk-body">Go to <a href="v1/explain-start.html" class="govuk-link">prototype 1</a></p>

<h2 class="govuk-heading-l">
      Prototype 2
    </h2>

    {% call govukDetails({
  summaryText: "Prototype 2 details"
}) %}
 Prototype 2 includes the NHS data consent questions over 2 screens.
{% endcall %}
      <p class="govuk-body">Go to <a href="v2/" class="govuk-link">prototype 2</a></p>


  </div>
</div>

{% endblock %}
