{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block containerStart %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/path/of/next/page" method="post">

          <div class="govuk-form-group govuk-character-count" data-module="govuk-character-count" data-maxlength="5000">
            <h1 class="govuk-label-wrapper">
              <label class="govuk-label govuk-label--l" for="with-hint">
                        About this condition or disability

              </label>
            </h1>

            <p class="govuk-body">Tell us about:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>tablets or other medication you are taking or will be taking and the dosage</li>
              <li>any treatments you have had, you are currently having or have planned for the future (include private as well as NHS funded treatments)</li>
              <li>any side effects these have on you</li>
            </ul>
            <textarea class="govuk-textarea govuk-js-character-count" id="with-hint" name="withHint" rows="15" aria-describedby="with-hint-info with-hint-hint"></textarea>
            <div id="with-hint-info" class="govuk-hint govuk-character-count__message">
              You can enter up to 5,000 characters
            </div>
          </div>
         

        {{ govukButton({
          text: "Save and continue",
          href: "task-list"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
