{% extends "layouts/main.html" %}

{% block pageTitle %}
  Explain test – Personal Independence Payment (PIP) – GOV.UK Prototype Kit
{% endblock %}

{% block containerStart %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% from "govuk/components/panel/macro.njk" import govukPanel %}
      {% from "govuk/components/button/macro.njk" import govukButton %}

      {% call govukPanel({
        classes: "govuk-panel--interruption",
        titleText: "We have skipped to the next stage of the application",
        actions: {
          items: [
            {
              text: "Continue the test",
              href: "how-your-conditions-disabilities-affect-you",
              type: "button"
            }
          ]
        }
      }) %}
      <p class="govuk-body">Don't worry about spending time filling in the boxes, just talk out loud and explain what you would enter.</p>

{% endcall %}

{% endblock %}
