{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – Personal Independence Payment (PIP) – GOV.UK Prototype Kit
{% endblock %}

{% block containerStart %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Your health or care professionals
      </h1>

      <form class="form" action="/hcp-now-answer" method="post">

      <p>You can tell us about 2 health or care professionals here. You can give more people's details in the next stage of your application if you want to.</p>

      {% from "govuk/components/radios/macro.njk" import govukRadios %}

{{ govukRadios({
  name: "HcpNow",
  fieldset: {
    legend: {
      text: "Are there any health or care professionals that you want to tell us about now?",
      isPageHeading: false,
      classes: "govuk-fieldset__legend--m"
    }
  },
 hint: {
    text: "We may need to contact them for further information."
  },
  items: [
    {
      value: "yes",
      text: "Yes"
    },
    {
      value: "no",
      text: "No"
    }
  ]
}) }} 

        {{ govukButton({
          text: "Save and continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
