{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – Personal Independence Payment (PIP) – GOV.UK Prototype Kit
{% endblock %}

{% block containerStart %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="#" method="post">

      {% from "govuk/components/radios/macro.njk" import govukRadios %}

      {{ govukRadios({
        name: "HcpNow",
        fieldset: {
          legend: {
            text: "Do you give consent for your health professionals to share relevant information about your health conditions?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        items: [
          {
            value: "yes",
            text: "Yes"
          },
          {
            value: "no",
            text: "No"
          }
        ]
      }) }} 

        {{ govukButton({
          text: "Save and continue",
          href: "nhs-record-consent"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
