{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <h1 class="govuk-heading-xl">
      PIP Blueberry prototype
    </h1>

  <p class="govuk-body">Go to <a href="/pip-index" class="govuk-link">PIP prototypes</a> for all other PIP prototypes.</p>

 <p class="govuk-body">
      This page will include specific designs / versions for "PIP Blueberry". Ideally page will be consistent with other PIP prototype index pages.    
    </p>

    <h2 class="govuk-heading-l">
      Consent for NHS data share
          </h2>

    <p class="govuk-body">
XYZ    </p>



  </div>
</div>

{% endblock %}
