{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <h1 class="govuk-heading-xl">
      PIP Prototypes
    </h1>

    <p class="govuk-body">If you don't know the password for the prototypes, contact a PIP designer.</p>


    <h2 class="govuk-heading-l">
      Case management products
          </h2>

<p class="govuk-body">Go to the <a href="https://pip-watermelon-41fc7261bfa6.herokuapp.com/" class="govuk-link">PIP Watermelon prototype</a> for:</p>
  <ul class="govuk-list govuk-list--bullet">
      <li>apples</li>
        <li>oranges</li>
        <li>pears</li>
      </ul>

<p class="govuk-body">Go to the <a href="https://pip-peach-dff2ac2afee3.herokuapp.com/" class="govuk-link">PIP Peach prototype</a> for:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>apples</li>
  <li>oranges</li>
  <li>pears</li>
</ul>

    <h2 class="govuk-heading-l">
      Decision making products
    </h2>

    <p class="govuk-body">Go to the <a href="https://pip-kiwi-4fefa1f135ea.herokuapp.com/" class="govuk-link">PIP Kiwi prototype</a> for:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>apples</li>
  <li>oranges</li>
  <li>pears</li>
</ul>

<p class="govuk-body">Go to the <a href="/blueberry-index" class="govuk-link">PIP Blueberry prototype</a> for:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>apples</li>
  <li>oranges</li>
  <li>pears</li>
</ul>

  </div>
</div>

{% endblock %}
